# What is Jupyter  Notebook
* The Jupyter Notebook is an open-source web application that allows data scientists to create and share documents that           integrate live code, equations, computational output, visualizations, and other multimedia resources,

* Uses include data cleaning and transformation, numerical simulation, statistical modeling, data visualization, machine         learning, and much more.

## Tutorial
- Interactive
- Results/outputs are stored so it is easy to review
- Friendly for documentation
- No limitation from performance
- helpful shortcuts
- Industry standard for all data science, ML, AI projects.

<p> Extension of jupyter file is ipynb (i python notebook, previous name of Jupyter) </p>

## Cell Types

In [ ]:
# A Code cell is the default cell type in Jupyter
40 + 5 - 16

Any execution of code and performing operations must take place in a code cell.

## Markdown
Text may be styled within a markdown cell. 
**This is handy for**
### Section Headings 
or
#### Titles
_This allows easy viewing of your project in an organized fashion._

The third cell type Raw cannot perform executive tasks nor has any styling options. However, it is preferred for plain text documentation and any explanation of code or analytics, particularly if there are passages or paragraphs.

# Short Cuts

[shift] + [enter] : run a cell

Command mode:
a : insert cell above

b : insert cell below

dd : delete a cell

z : undo a delete cell

r : convert cell to raw cell

m : convert cell to Markdown cell

y : convert cell to code cell

c: copy a cell

v : paste a cell

x : cut a cell

o : toggle output

## Edit Mode:

Ctrl + C : copy a text

Ctrl + V : paste

Ctrl + X : cut

Ctrl + Z : undo

# Keywords
* Keywords are reserved words in Python with designated meanings.
* These cannot be used as identifiers to name objects.

In [28]:
import keyword
print(keyword.kwlist)  # listing out the keywords within Python

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [29]:
len(keyword.kwlist)

35

# Identifiers

* An identifier is the name we provide to an entity such as a function or variable.
* It helps in differentiating one entity from other.
  
_There are certain dos and don'ts to observe while picking an identifier._

In [30]:
2var=34  #identifier cannot begin with a digit

SyntaxError: invalid decimal literal (487549204.py, line 1)

In [31]:
word@123='abc' # cannot use special symbols

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (902039452.py, line 1)

In [32]:
import=153 # Keywords cannot be used as identifier

SyntaxError: invalid syntax (3321343557.py, line 1)

In [33]:
"""Correct way of defining an identifier:
(Identifiers can be a combination of letters in lowercase (a to z) or uppercase
and only special character allowed is _ )"""
var_1 = 14 # the variable var_1 has been initialised with a value of 14

In [34]:
VAR_1=2 # new variable assigned
var_1 + VAR_1

16

In [35]:
city_ind = "Mumbai"

# Comments
The use of comments in a code cell can explain the method or operation in use. Commenting helps to
- Improve readability
- Make for a quick review of the work

In [36]:
# Hashtag is effective for short phrases
units = 10
sell_price = 120
total = units*sell_price  # Total amount

In [37]:
total # if we have long sentences and need to go to the next line, 
# we cannot continue it without another hashtag

1200

#### The syntax is designed such that the comment is ignored by the kernel during execution of the cell.

In [38]:
'''
Multi-line remarks becomes easy to 
express with this style of commenting.
'''
num1 = 25
num2 = 50
sum = num1 + num2
sum

75

In [39]:
"""Correct way of defining an identifier:
(Identifiers can be a combination of letters in lowercase (a to z) or uppercase
and only special character allowed is _ )"""
var_1 = 14 # the variable var_1 has been initialised with a value of 14

# Statements
* Instructions that a Python interpreter can execute

In [40]:
# Single line statement
p1 = 20 + 30 +  40  +  50 + 70 + 80
p1

290

In [41]:
# Multiple line statement
p1 = 20 + 30 \
+  40  +  50  \
+ 70 + 80
p1

290

# Variables

*  A Python variable creates a reserved memory location to store a value.
*  A variable can be initialised by assigning some value to begin with.

In [42]:
k=30 ## variable creation

In [43]:
k ## calling of variable

30

In [44]:
print(k) ## print the variable

30

In [45]:
tigers = 2500
lions = 1450
tigers
lions  # attempt to call multiple variables

1450

In [46]:
print(tigers) # requires print() function to execute multiple displays
print(lions)

2500
1450

## Variable Assignment

In [ ]:
intvar = 10 # Integer variable
floatvar = 2.57 # Float Variable
strvar = "Python Language" # String variable
print(intvar)
print(floatvar)
print(strvar)

### Multiple Assignment

In [ ]:
species,age,bp = "Elephant",50,125.6
# Using commas to separate variables
print("Species:",species)
print("Lifespan in years:",age)
print("Average blood pressure:",bp)

In [ ]:
p1 = p2 = p3 = p4 = 44
# All variables pointing to same value
print(p1,p2,p3,p4)

# Data Types

## Numeric
**Integer**: denoted as int 

**Float**: denoted as float

In [48]:
import sys

In [50]:
val2 = 92.78 # Float data type
print(val2)
print(type(val2)) # type of object
print(sys.getsizeof(val2)) # size of float object in bytes
print(val2, " is int?", isinstance(val2, int)) # Val2 is an instance of float

92.78
<class 'float'>
24
92.78  is int? False

In [51]:
val3 = 25 + 10j # Complex data type
print(val3)
print(type(val3)) # type of object
print(sys.getsizeof(val3)) # size of float object in bytes
print(val3, " is complex?", isinstance(val3, complex)) # val3 is an instance of complex

(25+10j)
<class 'complex'>
32
(25+10j)  is complex? True

## Boolean
Boolean datatype can have only two possible values: True or False

In [52]:
on=True

In [53]:
off=False

In [54]:
type(on)

bool

In [55]:
isinstance(off, bool)

True

In [56]:
isinstance(off, int) # qualifies as int

True

In [57]:
bool(0)

False

In [58]:
bool(-98) # Anything apart from 0 is True

True

## String

> A sequence of characters is a string.

In [ ]:
doc = "It's a fine day."
doc

In [ ]:
print("Type of the document:",type(doc))

In [ ]:
address = '#2 Main Street, 56/3' # Define string using single quotes
print(address)

### String indexing

In [ ]:
str1='HELLO PYTHON'

In [ ]:
str1[5] # First character in string "str1"

In [ ]:
str1[-7] # reverse indexing possible

In [ ]:
len(str1) # Number of chars in given string

In [ ]:
str1[-1] # Last character

In [ ]:
str1[6] #Fetch 7th element of the string

### String Slicing

In [ ]:
str1[0:5] ## start:end

In [ ]:
str1

In [ ]:
str2='Data is new fuel'
# Task:-Extract new and data from above string

In [ ]:
str1

In [ ]:
str1[:] # whole string

In [ ]:
str1[3:] # default end ~ end of string

In [ ]:
str1[:6] # default start ~ beginning of string

In [1]:
str1[-10:-5]

NameError: name 'str1' is not defined

In [ ]:
str1

In [ ]:
# str1[start:end:step]

str1[::-2]

### Update and Delete string

* Strings are immutable which means elements of a
string cannot be changed once the they are assigned with
any values

In [2]:
course='Data Science'
course[:4]

'Data'

In [3]:
course[:4] = "Life"

TypeError: 'str' object does not support item assignment

In [4]:
# Alternately try with the replace function
course.replace("Data","Life")

'Life Science'

In [5]:
# while it delivers the output
print(course) # the immutable string remains unchanged

Data Science

In [6]:
del course # delete the object
course # called right after - error confirms success

NameError: name 'course' is not defined

### String concatenation

In [ ]:
#  String concatenation
s1 = "Well"
s2 = "being"
s1 + s2

In [ ]:
# storing the result
s3 = s1 + "-" + s2
s3

### String Membership

In [ ]:
greeting = "Hello Namaste Hola! Salaam"
greeting

In [ ]:
'Bonjour' in greeting # Check for presence of substring within a document

In [ ]:
"Namaste" in greeting

In [ ]:
'hola' in greeting # case-sensitive

### String Partitioning
partition() searches for a substring as argument to break up the string into 3 parts:
- part before the argument
- argument substring
- part following the argument

In [ ]:
str5 = "Natural language processing with Python and R and Java"
L = str5.partition("and")
L

In [ ]:
str5.count("and")

In the above string, "and" occurs twice. partition() locates the first instance.

### String Functions

In [ ]:
mystr2 = " Hello Everyone    "
mystr2

In [ ]:
mystr2.count('e')

In [ ]:
mystr2.strip() # removes whitespaces at the start and end of string

In [ ]:
mystr2  # Immutability

In [ ]:
new_greet=mystr2.strip()

In [ ]:
new_greet

In [ ]:
prep='   &&&&   ***Preparation Predecessor Premonition Prenuptials Projection*****   %%&&&'
prep

In [ ]:
prep.strip() # default

In [ ]:
prep_clean = prep.strip("& %*")
prep_clean

In [ ]:
prep_clean.count("Pre")

In [ ]:
prep_clean.lower() # lowercase

In [ ]:
prep_clean.upper() # all caps

### format() for a string

In [ ]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77
"Cost of the three items are {} , {} and {} respectively.".format(item1,item3,item2)

In [ ]:
car="Tata Motors"
consult = "TCS"
airline = "Air India"
tata_grp = "The conglomerate Tata & Sons has several companies with {}, {} and {} into manufacturing, services and aviation."
print(tata_grp.format(car,consult,airline))

# Typecasting

Type Casting is the process of a variable's data type converted into another type in order for an operation to be performed.

* There are 2 ways in which typecasting occurs:

1) Autotypecasting

2) Forced Typecasting

## Auto Typecasting
* The Python interpreter automatically converts one data type to another without any user involvement.

In [1]:
4 + 5.67 + False

9.67

In [2]:
4 + 5.6 + False + True

10.6

In [3]:
4+3+'datamites'+6.7

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Forced Typecasting

In [4]:
a=9.7 # consider a float variable

In [5]:
type(a)

float

In [6]:
int(a) # drags to base integer value

9

In [7]:
num=5 # consider an integer variable

In [8]:
float(num)

5.0

In [9]:
bool(num)  # boolean for any value except 0 is True

True

In [10]:
str(num)

'5'

In [11]:
switch=False # consider a boolean variable

In [12]:
float(switch)

0.0

In [13]:
int(switch)

0

In [14]:
str(switch)

'False'

In [15]:
doc='Happiness' # Consider a string

In [16]:
float(doc)

ValueError: could not convert string to float: 'Happiness'

In [17]:
int(doc)

ValueError: invalid literal for int() with base 10: 'Happiness'

The numerical equivalent of a string is usually non-existent.

In [18]:
blank_str=''

In [19]:
bool(blank_str) # empty string ~ null value or 0

False

In [20]:
int('2') # an exception

2

In [21]:
float('abc')  # Convert the datatype to float

ValueError: could not convert string to float: 'abc'

In [22]:
bool(8.9)#converting float type into bool

True

In [23]:
bool(0)

False

In [24]:
bool(-1)

True

In [25]:
# Guess the output
int(1.5)+4+bool(0)

5

In [26]:
int(5.6)+float(6)+bool(23)

12.0

In [27]:
int(6.5)+1.2+int(5.5)+ bool(0)

12.2